.pikachu {
    width: 83px;
    height: 92px;
    background-image: url("/assets/images/pikachus.png");
    animation: play .5s steps(3) infinite;
}

@keyframes play {
    from { background-position:    0px; }
      to { background-position: -250px; }
 }

 .bombs {
    width: 62px;
    height: 64px;
    background-image: url("/assets/images/bombs.png");
    animation: playb .8s steps(3) infinite;
}

@keyframes playb {
    from { background-position:    0px; }
      to { background-position: -192px; }
 }
