.container.row {
    width: 100%; height: 100vh;
    max-width: 100%;
    margin-bottom: 0;
    @extend .purple, .lighten-1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
        align-items: center;
    }
    .section {
        position: absolute;
        top: 0;
        left: 1em;
        width: auto;
        @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
            position: relative;
            top: unset;
            left: unset;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    }
    .changing-text {
        font-size: 20vw;
        font-weight: 100;
        color: #FFF;
        @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
            font-size: 5vw;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
            text-align: center;
        }
        @media (min-width: 1024px) {
            font-size: 6vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            width: 100%;
            text-align: center;
        }
        span {
            padding: 0 0.1em;
            @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                width: 32px;
                display: inline-block;
            }
            @media (min-width: 1024px) {
                width: 5vw;
                display: inline-block;             
            }
            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
            &:active {
                background-color: rgba(255,255,255,0.2);
            }
        }
        span.active {
            background-color: rgba(255,255,255,0.2);
        }
        .space {
            display: block;
            width: 100%;
            height: 0.5em;
            @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                display: inline;
                margin: 0.5em;
            }
        }
        .mini-space {
            display: block;
            @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                display: inline;
            }
        }
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .first, .second {
        width: 1em;
        height: 1em;
        background-color: #FFF;

    }
    .first {
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: expand;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .second {
        margin-top: 1em;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: expand;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .head {
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: pulse;
        animation-delay: 0.8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border: solid #FFF;
        border-width: 0 1em 1em 0;
        display: inline-block;
        padding: 1em;
        transform: rotate(45deg);
    }
    @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
        transform: translate(-50%, -75%);
        .first, .second {
            width: 10px;
            height: 10px;
    
        }
        .head{
            border-width: 0 10px 10px 0;
            padding: 10px;
        }
    }
}

@keyframes expand {
    0% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    100% {
        height: 2em;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* BODY */
.body-container.row {
    width: 100%; min-height: 100vh;
    margin-bottom: 0;
    padding: 64px 2em; padding-top: 8em;
    background-color: #FFF;
    position: relative;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    &#about {
        margin-top: 100vh;
    }
    &.intro-window {
        background-color: transparent;
        height: 100vh;
    }
    @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
        align-items: center;
    }
}

.card.small.photo-card {
    width: 100%;
    height: 0;
    padding-bottom: 144%;
    overflow: hidden;
    .card-image {
        max-height: none;
        img {
            transform: translateY(-5%);
        }
    }
}

#about-stagger, #inner-about-stagger {
    li {
        opacity: 0;
    }
}

#inner-about-stagger .card {
    height: auto;
}