.container.row {
    width: 100%; height: 100vh;
    max-width: 100%;
    margin-bottom: 0;
    @extend .purple, .lighten-1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
        align-items: center;
    }
    .section {
        position: absolute;
        top: 0;
        left: 1em;
        width: auto;
        @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
            position: relative;
            top: unset;
            left: unset;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    }
    .changing-text {
        font-size: 20vw;
        font-weight: 100;
        color: #FFF;
        @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
            font-size: 5vw;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
            text-align: center;
        }
        @media (min-width: 1024px) {
            font-size: 6vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            width: 100%;
            text-align: center;
        }
        span {
            padding: 0 0.1em;
            @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                width: 32px;
                display: inline-block;
            }
            @media (min-width: 1024px) {
                width: 5vw;
                display: inline-block;             
            }
            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
            &:active {
                background-color: rgba(255,255,255,0.2);
            }
        }
        span.active {
            background-color: rgba(255,255,255,0.2);
        }
        .space {
            display: block;
            width: 100%;
            height: 0.5em;
            @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                display: inline;
                margin: 0.5em;
            }
        }
        .mini-space {
            display: block;
            @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
                display: inline;
            }
        }
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .first, .second {
        width: 1em;
        height: 1em;
        background-color: #FFF;

    }
    .first {
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: expand;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .second {
        margin-top: 1em;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: expand;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .head {
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-name: pulse;
        animation-delay: 0.8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border: solid #FFF;
        border-width: 0 1em 1em 0;
        display: inline-block;
        padding: 1em;
        transform: rotate(45deg);
    }
    @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) { 
        transform: translate(-50%, -75%);
        .first, .second {
            width: 10px;
            height: 10px;
    
        }
        .head{
            border-width: 0 10px 10px 0;
            padding: 10px;
        }
    }
}

@keyframes expand {
    0% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    100% {
        height: 2em;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* BODY */
.body-container.row {
    width: 100%; min-height: 100vh;
    margin-bottom: 0;
    padding: 64px 2em; padding-top: 8em;
    background-color: #FFF;
    position: relative;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    &#about {
        margin-top: 100vh;
    }
    &.intro-window {
        background-color: transparent;
        height: 100vh;
    }
    @media (min-width: 1024px), (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
        align-items: center;
    }
}

.card.small.photo-card {
    width: 100%;
    height: 0;
    padding-bottom: 144%;
    overflow: hidden;
    .card-image {
        max-height: none;
        img {
            transform: translateY(-5%);
        }
    }
}

#about-stagger, #inner-about-stagger,
#skills-stagger, #inner-skills-stagger,
#ide-skills-stagger, #projects-stagger,
#connect-stagger, #inner-connect-stagger {
    li {
        opacity: 0;
    }
}

#inner-about-stagger .card {
    height: auto;
}

.chip {
    opacity: 0;
    display: inline-block;
    height: 44px;
    font-size: 24px;
    font-weight: 400;
    @extend .purple-text, .lighten-2;
    line-height: 42px;
    padding: 0 17px;
    border-radius: 22px;
    background-color: #e4e4e4;
    margin-bottom: 1EM;
    margin-right: 1em;
    margin-left: 1em;
    &.p-chip {
        color: #eee !important;
        @extend .purple, .lighten-2;
    }
    &.medium {
        font-size: 17px;
        height: 36px;
        line-height: 36px;
    }
    &.small {
        font-size: 14px;
        height: 32px;
        line-height: 32px;
    }
}

#projects-stagger li .card.medium {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 3em;
    padding: 0;
    &:hover {
        .card-image {
            background-size: auto 130%;
        }
    }
    .card-image {
        max-height: none;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        transition: all 400ms ease-out;
        .card-title {
            color: #000;
            position: absolute;
            padding: 0.5em;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

.modal {
    max-height: 90%;
    height: 90%;
    width: 90%;
    display: block;
    .modal-close {
        position: absolute;
        top: 0; right: 0;
        left: unset; bottom: unset;
        margin: 1em;
    }
    .modal-content {
        padding-top: 4em;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        @media (min-width: 1024px) {
            flex-flow: row nowrap;
        }
    }
}

.info {
    flex: 1 1 15%;
    height: 100%;
}

.carousel-wrapper {
    flex: 1 1 80%;
    width: 100%;
    position: relative;
    @media (min-width: 480px) {
        height: 100%;
    }
    @media (min-width: 1024px) {
        padding-left: 1em;
    }
    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 100;
        padding: 0;
        &:focus {
            background: transparent;
        }
        &:hover {
            background: transparent;
            opacity: 0.8;
        }
        &:active {
            background: transparent;
            opacity: 0.5;
        }
        .material-icons {
            @extend .purple-text, .lighten-2;
        }
        &.prev {
            left: -1em;
        }
        &.next {
            right: -1em;
        }
        @media (min-width: 1024px) {
            &.prev {
                left: 0;
            }
            &.next {
                right: 0;
            }
        }
    }
    .carousel {
        flex: 1 1 80%;
        width: 100%;
        height: 100% !important;
        transition: all 300ms ease-in-out;
        &.fullscreen {
            position: fixed;
            width: 100%; height: 100%;
            top: 0; left:0;
            z-index: 105;
            &:before {
                content: '';
                position: fixed;
                z-index: 100;
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,0.5);
            }
        }
        .carousel-item {
            min-height: 0px;
            img {
                width: auto;
                height: auto;
                max-height: 100%;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }
        @media (min-width: 480px) {
            .carousel-item {
                min-height: 240px;
            }
        }
        @media (min-width: 1024px) {
            .carousel-item {
                min-height: 400px;
            }
        }
    }
}

#inner-connect-stagger {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    li {
        margin: 1em;
    }
}