div.modal#100e53
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        h4 100 East 53rd Street
        p Meteor JS Framework, SASS, Docker, AWS EC2
        p.
            While at DBOX, I developed the front-end for the 100 East 53rd Street website. This website was showcased on <a href="https://www.siteinspire.com/websites/6391-one-hundred-east-fifty-third-street" target="_blank">Site Inspire</a> in the typographic style category as well as on <a href="https://www.uplabs.com/posts/100-east-53rd-street-gallery-interface" target="_blank">Uplabs</a> for its Gallery interface.   
        .images
            img.materialboxed(src="/assets/images/100e53/desktop/desktop_home.png")
            img.materialboxed(src="/assets/images/100e53/desktop/desktop_multi_language_support.png")           
            img.materialboxed(src="/assets/images/100e53/desktop/desktop_subpage.png")           
            img.materialboxed(src="/assets/images/100e53/desktop/desktop_neighborhood.png")         
            img.materialboxed(src="/assets/images/100e53/desktop/desktop_views_panorama.png")       
            img.materialboxed(src="/assets/images/100e53/mobile/mobile_home.png")              
            img.materialboxed(src="/assets/images/100e53/mobile/mobile_category.png")      
            img.materialboxed(src="/assets/images/100e53/mobile/mobile_availability.png")            
            img.materialboxed(src="/assets/images/100e53/mobile/mobile_floorplan.png")            
            img.materialboxed(src="/assets/images/100e53/mobile/mobile_map.png")