div.modal#108leonard
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        h4 108 Leonard
        p A bunch of text
        .images
            img.materialboxed(src="/assets/images/108Leonard/desktop/1.png")
            img.materialboxed(src="/assets/images/108Leonard/desktop/2.png")           
            img.materialboxed(src="/assets/images/108Leonard/desktop/3.png")           
            img.materialboxed(src="/assets/images/108Leonard/desktop/4.png")              
            img.materialboxed(src="/assets/images/108Leonard/mobile/1.png")