div.modal#108leonard
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        .info
            h4 108 Leonard
            a(href="https://108leonard.com" target="_blank") https://108leonard.com
            p A bunch of text
        .carousel.carousel-slider#108leonard-carousel
            .carousel-item
                img(src="/assets/images/108Leonard/desktop/1.png")
            .carousel-item
                img(src="/assets/images/108Leonard/desktop/2.png")           
            .carousel-item
                img(src="/assets/images/108Leonard/desktop/3.png")           
            .carousel-item
                img(src="/assets/images/108Leonard/desktop/4.png")              
            .carousel-item
                img(src="/assets/images/108Leonard/mobile/1.png")