div.modal#432parkavenue
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        .info
            h4 432 Park Avenue
            a(href="http://432parkavenue.com" target="_blank") http://432parkavenue.com
            p A bunch of text
        .carousel.carousel-slider#432parkavenue-carousel
            .carousel-item
                img(src="/assets/images/432ParkAvenue/desktop/home.png")
            .carousel-item
                img(src="/assets/images/432ParkAvenue/desktop/full.png")           
            .carousel-item
                img(src="/assets/images/432ParkAvenue/desktop/full2.png")           
            .carousel-item
                img(src="/assets/images/432ParkAvenue/desktop/availability.png")         
            .carousel-item
                img(src="/assets/images/432ParkAvenue/desktop/Press.png")       
            .carousel-item
                img(src="/assets/images/432ParkAvenue/mobile/home.png")              
            .carousel-item
                img(src="/assets/images/432ParkAvenue/mobile/menu.png")      
            .carousel-item
                img(src="/assets/images/432ParkAvenue/mobile/full.png")            
            .carousel-item
                img(src="/assets/images/432ParkAvenue/mobile/full2.png")            
            .carousel-item
                img(src="/assets/images/432ParkAvenue/mobile/press.png")