div.modal#432parkavenue
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        h4 432 Park Avenue
        p A bunch of text
        .images
            img.materialboxed(src="/assets/images/432ParkAvenue/desktop/home.png")
            img.materialboxed(src="/assets/images/432ParkAvenue/desktop/full.png")           
            img.materialboxed(src="/assets/images/432ParkAvenue/desktop/full2.png")           
            img.materialboxed(src="/assets/images/432ParkAvenue/desktop/availability.png")         
            img.materialboxed(src="/assets/images/432ParkAvenue/desktop/Press.png")       
            img.materialboxed(src="/assets/images/432ParkAvenue/mobile/home.png")              
            img.materialboxed(src="/assets/images/432ParkAvenue/mobile/menu.png")      
            img.materialboxed(src="/assets/images/432ParkAvenue/mobile/full.png")            
            img.materialboxed(src="/assets/images/432ParkAvenue/mobile/full2.png")            
            img.materialboxed(src="/assets/images/432ParkAvenue/mobile/press.png")