div.modal#bayparkcentre
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        h4 Bay Park Centre
        p A bunch of text
        .images
            img.materialboxed(src="/assets/images/BayParkCentre/desktop/home.png")
            img.materialboxed(src="/assets/images/BayParkCentre/desktop/Testfits.png")           
            img.materialboxed(src="/assets/images/BayParkCentre/desktop/views.png")    
            img.materialboxed(src="/assets/images/BayParkCentre/mobile/home.png")              
            img.materialboxed(src="/assets/images/BayParkCentre/mobile/home1.png")      
            img.materialboxed(src="/assets/images/BayParkCentre/mobile/menu.png")            
            img.materialboxed(src="/assets/images/BayParkCentre/mobile/testfits.png")            
            img.materialboxed(src="/assets/images/BayParkCentre/mobile/testfits2.png")