div.modal#bayparkcentre
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        .info
            h4 Bay Park Centre
            a(href="http://bayparkcentre.com" target="_blank") http://bayparkcentre.com
            p A bunch of text
        .carousel.carousel-slider#bayparkcentre-carousel
            .carusel-item
                img(src="/assets/images/BayParkCentre/desktop/home.png")
            .carusel-item
                img(src="/assets/images/BayParkCentre/desktop/Testfits.png")           
            .carusel-item
                img(src="/assets/images/BayParkCentre/desktop/views.png")    
            .carusel-item
                img(src="/assets/images/BayParkCentre/mobile/home.png")              
            .carusel-item
                img(src="/assets/images/BayParkCentre/mobile/home1.png")      
            .carusel-item
                img(src="/assets/images/BayParkCentre/mobile/menu.png")            
            .carusel-item
                img(src="/assets/images/BayParkCentre/mobile/testfits.png")            
            .carusel-item
                img(src="/assets/images/BayParkCentre/mobile/testfits2.png")