header
    a.title(href="/") Valeriya<br/>Kozhynova
    ul.nav-wrapper
        li.nav-item.sub-text 
            a(href="/about/") About
        li.nav-item.sub-text 
           a(href="/skills/") Skills
        li.nav-item.sub-text 
            a(href="/projects/") Projects