.navbar-fixed.custom-navbar
    nav
        .nav-wrapper
            a.brand-logo(href="/") 
                span.desktop VALERIYA KOZHYNOVA
                span.mobile VK
            a.button-collapse(href="#", data-activates="mobile-demo")
                i.material-icons menu    
            ul.right.hide-on-med-and-down
                li
                    a(href="#about") About
                li
                    a(href="#skills") Skills
                li
                    a(href="#projects") Projects
                li
                    a(href="#connect") Connect
            ul#mobile-demo.side-nav.section
                li.rainbow  
                    .rain-color-1
                    .rain-color-2
                    .rain-color-3
                    .rain-color-4
                    .rain-color-5
                li
                    a(href="#about")
                        p.flow-text About
                li
                    a(href="#skills")
                        p.flow-text Skills
                li
                    a(href="#projects")
                        p.flow-text Projects
                li
                    a(href="#connect")
                        p.flow-text Connect
                li.rainbow  
                    .rain-color-5
                    .rain-color-4
                    .rain-color-3
                    .rain-color-2
                    .rain-color-1