.container.row
    section.section(data-section="intro")
      h1.changing-text
        span.v(data-letter="V")
        span.a(data-letter="A")
        span.l(data-letter="L")
        .mini-space
        span.e(data-letter="E")
        span.r(data-letter="R")
        span.i(data-letter="I")
        span.y(data-letter="Y")
        span.a(data-letter="A")
        .space
        span.k(data-letter="K")
        span.o(data-letter="O")
        span.z(data-letter="Z")
        span.h(data-letter="H")
        span.y(data-letter="Y")
        .mini-space
        span.n(data-letter="N")
        span.o(data-letter="O")
        span.v(data-letter="V")
        span.a(data-letter="A")
    .contact-me  
      a(href="https://www.linkedin.com/in/valeriyak/" target="_blank") CONTACT ME @ LINKEDIN
      a.small(href="https://github.com/valko92/" target="_blank") code@github
    //- .arrow
    //-   span.first
    //-   span.second
    //-   span.head