div.modal#thecenturyplaza
    a.modal-action.modal-close.waves-effect.waves-orange.btn-flat.right(href="#!") CLOSE
    div.modal-content
        h4 The Century Plaza
        p A bunch of text
        .images
            img.materialboxed(src="/assets/images/CenturyPlaza/desktop/1.png")
            img.materialboxed(src="/assets/images/CenturyPlaza/desktop/2.png")           
            img.materialboxed(src="/assets/images/CenturyPlaza/desktop/3.png")           
            img.materialboxed(src="/assets/images/CenturyPlaza/desktop/4.png")         
            img.materialboxed(src="/assets/images/CenturyPlaza/desktop/5.png")       
            img.materialboxed(src="/assets/images/CenturyPlaza/mobile/1.png")              
            img.materialboxed(src="/assets/images/CenturyPlaza/mobile/2.png")      
            img.materialboxed(src="/assets/images/CenturyPlaza/mobile/3.png")            