extends layouts/default

block vars
    - var canonical = "/about/";
    - var title = "About Me";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .content-wrapper
    h1 about me