extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  include parts/intro
  .body-container.row