extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  include parts/intro
  .body-container.row.section.scrollspy-mobile.scrollspy#about
    ul#about-stagger.row
      li.col.s12
        h2.section-title About
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
      li.col.s12.m5.l4.xl3
        .card.small.photo-card
          .card-image
            img(src='/assets/images/mev2.jpg' alt="Photo of Valeriya Kozhynova")
      li.col.s12.m7.l8.xl9
        ul#inner-about-stagger
          li.card.medium
            .card-content
              p.flow-text.
                I am an experienced and well-rounded web developer interested in building secure, responsive, and scalable web sites and web apps. I am proficient in all stages of the web development process.
          li.card.medium
            .card-content
              p.flow-text.
                I am professionally experienced with website hosting and maintenance through <b>Ubuntu Linux</b>, <b>Heroku</b>,  and the  <b>Amazon AWS suite</b>.  I also have extensive knowledge of <b>SEO</b> as well as experience with <b>Google Analytics</b>,  <b>Google Tag Manager</b>, <b>Google Search Console</b>, and <b>HTML online advertising</b>. 
          li.card.medium
            .card-content
              p.flow-text.
                Under DBOX and DBXD, I have built, developed and maintained over a dozen websites. With DBOX, I have developed the front-end for the <a href="https://100e53.com" target="_blank">100 East 53rd Street website</a>, which was showcased on both <a href="https://www.siteinspire.com/websites/6391-one-hundred-east-fifty-third-street" target="_blank">Site Inspire</a> and <a href="https://www.uplabs.com/posts/100-east-53rd-street-gallery-interface" target="_blank">Uplabs</a>. At DBXD, I have developed websites for notable names in real estate such as Bay Park Centre, 432 Park Avenue, 108 Leonard, The Century Plaza, and The Residences at the West Hollywood Edition. 
          li.card.medium
            .card-content
              p.flow-text.
                Website development is my passion and I strive to build the greatest user experience using maintainable web solutions. I always keep up to date with the rapidly changing technologies of the field and always look for ways to build upon and perfect my own knowledge.
          li.card.medium
            .card-content
              .card-action
                a(href='https://www.linkedin.com/in/valeriyak/' target="_blank") More Information

  .body-container.row.section.scrollspy-mobile.scrollspy#skills
    .row
      .col.s12
        h2.section-title Skills
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5

  .body-container.row.section.scrollspy-mobile.scrollspy#projects
    .row
      .col.s12
        h2.section-title Projects
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5
  
  .body-container.row.section.scrollspy-mobile.scrollspy#connect
    .row
      .col.s12
        h2.section-title Connect
        .rainbow.underline 
          .rain-color-4
          .rain-color-2
          .rain-color-5