extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .container.row
    section.section(data-section="intro")
      h1.changing-text
        span.v V
        span.a A
        span.l L
        .mini-space
        span.e E
        span.r R
        span.i I
        span.y Y
        span.a1 A
        .space
        span.k K
        span.o O
        span.z Z
        span.h H
        span.y Y
        .mini-space
        span.n N
        span.o1 O
        span.v1 V
        span.a2 A
    .arrow
      span.first
      span.second
      span.head
