extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  include parts/intro
  .body-container.row.section.scrollspy#about
    h2 About
  
  .body-container.row.section.scrollspy#skills
    h2 Skills

  .body-container.row.section.scrollspy#projects
    h2 Projects
  
  .body-container.row.section.scrollspy#connect
    h2 Connect