extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .content-wrapper
    h1 Hello #{hello}
    .pikachu
    .bombs