extends layouts/default

block vars
    - var canonical = "/";
    - var title = "Valeriya Kozhynova";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .container
    h1 Hello #{hello}
    h2 Hello
    a.btn.btn-floating.pulse
      i.material-icons