extends layouts/default

block vars
    - var canonical = "/projects/";
    - var title = "My Projects";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .content-wrapper
    h1 projects