extends layouts/default

block vars
    - var canonical = "/skills/";
    - var title = "My Skills";
    - var description = 'Coming Soon.';

block styles
  style.

block content
  .content-wrapper
    h1 skills